
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'quill';
@import 'mixins';
@import 'label_badges';
@import 'general_stylesheet';


.theme-logo {
    height: auto;
    width: 45px;
}
